<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.dao.SysCompanyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ehu.bean.entity.system.SysCompany">
		<id column="company_id" property="companyId" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="short_name" property="shortName" />
		<result column="parent_code" property="parentCode" />
		<result column="logo" property="logo" />
		<result column="comment" property="comment" />
		<result column="address" property="address" />
		<result column="city_code" property="cityCode" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

    <sql id="Base_Column_List">
		company_id, code,name,short_name, parent_code, logo,comment, address,city_code,status, create_time, update_time,create_by,update_by
	</sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_company where company_id =#{company}
    </select>
    <select id="selectListByPage" parameterType="SysCompany" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_company
        <where>
            <if test="name!=null and name!=''"> and name =#{name}</if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="SysCompany">
        insert into sys_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="parentCode != null">
                parent_code,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="shortName != null">
                #{shortName},
            </if>
            <if test="parentCode != null">
                #{parentCode},
            </if>
            <if test="logo != null">
                #{logo},
            </if>
            <if test="comment != null">
                #{comment},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="cityCode != null">
                #{cityCode},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
        <selectKey resultType="Integer" keyProperty="companyId" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="SysCompany">
        update sys_company
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName},
            </if>
            <if test="parentCode != null">
                parent_code = #{parentCode},
            </if>
            <if test="logo != null">
                logo = #{logo},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
