<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.dao.SysMenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ehu.bean.entity.system.SysMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="is_menu" property="isMenu"/>
        <result column="level" property="level"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="icon" property="icon"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, name, url, sort, is_menu, parent_id, status, create_time, update_time,create_by,update_by,icon,level
	</sql>

    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu where id =#{id}
    </select>

    <select id="getMenuByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu where parent_id = #{parentId} order by sort asc, create_time desc
    </select>

    <select id="listLevelSysMenu" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        FROM sys_menu
        <where>
            <if test="menuId != null and menuId !=''">
                and id = #{menuId}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="url != null and url !=''">
                and url = #{url}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
            <if test="level != null and level !=''">
                and level = #{level}
            </if>
            <if test="parentId != null and parentId !=''">
                and parent_id = #{parentId}
            </if>
            <if test="isMenu != null and isMenu !=''">
                and is_menu = #{isMenu}
            </if>
            <if test="menuIds != null">
                and id in
                <foreach collection="menuIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="SysMenu">
        update sys_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="isMenu != null">
                is_menu = #{isMenu,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>
    <insert id="insertSelective" parameterType="SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isMenu != null">
                is_menu,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="isMenu != null">
                #{isMenu},
            </if>
            <if test="level != null">
                #{level},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
        <selectKey resultType="Integer" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from sys_menu where id = #{id}
    </delete>

    <select id="getAllMenu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
    </select>
</mapper>
